body{
  margin: 0;
  padding: 0;
}
@font-face{
  font-family: myfont-1;
  src: url(Fonts/Poppins-Bold.ttf);
}
@font-face{
  font-family: myfont-2;
  src: url(Fonts/Poppins-SemiBold.ttf);
}
@font-face{
  font-family: myfont-reg;
  src: url(Fonts/Poppins-Regular.ttf);
}
@font-face{
  font-family: myfont-med;
  src: url(Fonts/Poppins-Medium.ttf);
}
header{
  height: 950px;
  width: 100%;
  background-image: url(imgs/photo.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: 0 35%
}

span.logo{
  color: rgb(255, 255, 255);
  font-family: myfont-1;
  font-size: 25px;
  position: relative;
  left: 215px;
  top: 10px;
}
div.title-a{
  top: 190px;
  position: relative;
}
div.java-contain{
  right: 200px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  cursor: pointer;
}
div.java-contain>div{
  width: 30px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 3px;
  border-radius: 10px;

}
div.java-contain:hover >div.dash-1{
  animation-name: lines;
  animation-duration: 0.8s;
  animation-direction:alternate;
  animation-timing-function: ease-in-out;
}
div.java-contain:hover >div.dash-2{
  animation-name: lines;
  animation-duration: 0.8s;
  animation-delay: .2s;
  animation-direction:alternate;
  animation-timing-function: ease-in-out;
}
div.java-contain:hover >div.dash-3{
  animation-name: lines;
  animation-duration: 0.8s;
  animation-delay: .3s;
  animation-direction:alternate;
  animation-timing-function: ease-in-out;
}
div.java-contain:focus >div.dash-1{
  animation-name: lines;
  animation-duration: 0.8s;
  animation-direction:alternate;
  animation-timing-function: ease-in-out;
}
div.java-contain:focus >div.dash-2{
  animation-name: lines;
  animation-duration: 0.8s;
  animation-delay: .2s;
  animation-direction:alternate;
  animation-timing-function: ease-in-out;
}
div.java-contain:focus >div.dash-3{
  animation-name: lines;
  animation-duration: 0.8s;
  animation-delay: .3s;
  animation-direction:alternate;
  animation-timing-function: ease-in-out;
}
@keyframes lines{
  0%{
    width: 0px;
  }

  100%{
    width: 30px;
  }
}
header h1{
  color: rgb(255, 255, 255);
  font-family: myfont-2;
  font-size: 72px;
  text-transform: uppercase;
  width: 40%;
  position: relative;
  left: 215px;
  line-height: 80px;
  animation: type 2.5s steps(44) 1s 1 normal both ,  blinkTextCursor 500ms steps(44) infinite normal;
  -webkit-animation: type 2.5s steps(44) 1s 1 normal both ,  blinkTextCursor 500ms steps(44) infinite normal;
  border-right: 2px solid rgba(255,255,255,.75);
  overflow: hidden;
  white-space: nowrap;
}
@keyframes type{
  0%{
    width:0;
  }
  100%{
    width: 37%;
  }
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
header div.sub-title{
  font-family: myfont-reg;
  color: rgb(255, 255, 255);
  width: 35%;
  left: 215px;
  position: relative;
  bottom: 30px;
}
button.but-header{
  background-color: #ffbf01;
  padding: 20px 45px;
  outline: none;
  border: 0;
  position: relative;
  left: 215px;
  top: 10px;
}
button.but-header a {
  color: #030203;
  text-decoration: none;
  letter-spacing: 1px;
  font-family: myfont-2;
  text-transform: uppercase;
}
@media (max-width: 767px){
  header{
  width: 359%;
  }
}
/* MAIN */
main{
  width: 100%;
  min-height: 1750px;
  background-color: #ffffff;
  margin: 0 auto;
}
div.main-prim{
  width: 70%;
  margin: 0 auto;
  height: 1650px;
}
div.main-prim div.main-sec-1{
  text-align: center;
  position: relative;
  top: 30px;
}
div.main-prim div.main-sec-1 h2{
  font-family: myfont-2;
  font-size: 50px;
  text-transform: uppercase;
}
div.main-prim div.main-sec-1 p{
  font-family: myfont-reg;
  font-size: 20px;
  width: 55%;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 35px;
}
/* GRID */
div.info-grid{
  display: grid;
  column-gap: 110px;
  grid-template-areas:
  "pizza burger fries sandwiches";
  margin: 25px 100px;
}
div.info-grid div.content-grid span{
  font-family: myfont-2;
  text-transform: uppercase;
  color: #ffc000;
  text-align: center;
  display: block;
  font-size: 24px;
}
div.info-grid div.content-grid p{
  color: #000;
  font-family: myfont-reg;
  text-align: center;
  margin-top: 0px;
}
div.info-grid div.content-grid{
  position: relative;
  top: 15px;
}
div.info-grid>div>img{
  display: block;
  margin: 0 auto;
}
div.pizza{
  grid-area: pizza;
  
}
div.burger{
  grid-area: burger;
}
div.fries{
  grid-area: fries;
}
div.sandwiches{
  grid-area: sandwiches;
}
/* SEC-2 */
div.main-sec-2{
  width: 100%;
  height: 850px;
  background-color: #ffc000;
  margin-top: 120px;
}
div.main-sec-img{
  background: url(imgs/img.jfif) no-repeat 0 0;
  width: 50%;
  height: 100%;
}
div.title-sec-2{
  position: relative;
  left: 105%;
  width: 70%;
  top: 15%;
}
div.text-contain h2{
  font-family: myfont-2;
  text-transform: uppercase;
  color: #000;
  font-size: 50px;
  line-height: 60px;
}
div.text-contain>p{
  color: #000;
  font-family: myfont-reg;
  font-size: 15px;
  display: inline-block;
  width: 130%;
}
div.text-contain>p.top-title{
  position: relative;
    bottom: 45px;
    font-weight: bolder;
}
div.text-contain div.list-item ul{
  margin: 0;
    padding: 0;
    position: relative;
    bottom: 40px;
    left: 25px;
    list-style-image:url(imgs/iconmonstr-check-mark-4-16.png);
}
div.text-contain div.list-item ul li{
  font-family: myfont-2;
  text-transform: capitalize;
  margin: 15px 0;
}
div.text-contain p.last-title{
  position: relative;
    bottom: 40px;
    width: 415px;
    font-weight: bolder;
}
div.text-contain button.main-sec-2-button{
  padding: 20px 45px;
  outline: 0;
  border: 0;
  background-color: #000;
  position: relative;
  bottom: 20px;
}
div.text-contain button.main-sec-2-button a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: myfont-2;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* SEC-3 */
div.main-sec-3{
  width: 100%;
  min-height: 700px;
  background-color: #ffc000;
  margin-top: 15px;
  text-align: center;
}
div.main-sec-3-prim{
  position:relative;
  top: 65px;
  width: 70%;
  margin: 0 auto;
}
div.main-sec-title-3 h2{
  font-size: 50px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: myfont-2;
}
div.main-sec-title-3 p{
  font-size: 20px;
  font-family: myfont-reg;
  text-transform: capitalize;
  position: relative;
  bottom: 35px;
}
div.main-sec-3-grid{
  display: grid;
  column-gap: 40px;
  grid-template-areas: 
  "dish-1 dish-2 dish-3 dish-4";
  margin: -35px 100px;
}
div.main-sec-3-grid div.dish-1{
  grid-area: dish-1;
}
div.main-sec-3-grid div.dish-2{
  grid-area: dish-2;
}
div.main-sec-3-grid div.dish-3{
  grid-area: dish-3;
}
div.main-sec-3-grid div.dish-4{
  grid-area: dish-4;
}
div.dish-1 img.dish-pho{
  width: 250px;
}
div.dish-2 img.dish-pho{
  width: 250px;
}
div.dish-3 img.dish-pho{
  width: 250px;
}
div.dish-4 img.dish-pho{
  width: 250px;
}
div.main-sec-3-grid div span.dish-categ{
  display: block;
  font-family: myfont-2;
  text-transform: uppercase;
  font-size: 16px;
}
div.main-sec-3-grid div span.name{
  font-size: 30px;
  font-family: myfont-2;
  text-transform: uppercase;
}
div.main-sec-3-grid div span.order{
  display: block;
  font-size: 16px;
  font-family: myfont-2;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
}
div.main-sec-3-grid div span.order img{
  vertical-align: -3px;
}
/* SEC-4 */
div.main-sec-4{
  width: 70%;
  margin: 0 auto;
  min-height: 1650px;
  background-color: #ffffff;
}
div.first-section-4{
  text-align: center;
  position: relative;
  top: 100px;
}
div.first-section-4 span.title-sec-4{
  font-size: 50px;
  font-family: myfont-2;
  text-transform: uppercase;
  display: inline-block;
  width: 30%;
  line-height: 55px;
}
div.first-section-4 p.sub-title-sec-4{
  font-family: myfont-reg;
  font-size: 18px;
  display: inline-block;
  color: #000;
  width: 88%;
  position:relative;
  bottom: 25px;
}
div.first-section-4 button.but-sec-4{
  display: block;
  background-color: #ffc000;
  padding: 20px 45px;
  outline: 0;
  border: 0;
  margin: 0 auto;
  position: relative;
  top: 10px;
}
div.first-section-4 button.but-sec-4 img{
  vertical-align: -3px;
  margin-left: 5px;
}
div.first-section-4 button.but-sec-4 a{
  color: #000;
  font-family: myfont-2;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}
div.grid-sec-4{
  display: grid;
  grid-template-areas: 
  "num-1 num-2 num-3 num-4 ";
  column-gap: 110px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}
div.grid-sec-4 span.number{
  font-size: 72px;
  font-family: myfont-2;
  color:#ffc000;
}
div.grid-sec-4>div.num-1{
  grid-area: num-1;
}
div.grid-sec-4>div.num-2{
  grid-area: num-2;
}
div.grid-sec-4>div.num-3{
  grid-area: num-3;
}
div.grid-sec-4>div.num-4{
  grid-area: num-4;
}
div.grid-sec-4 span.number p {
  font-size: 24px;
  font-family: myfont-reg;
  text-transform: uppercase;
  display: block;
  color: #000;
  white-space: nowrap;
  position: relative;
  bottom: 48px;
}
/* sec-5 */
div.sec-section-4 h2{
  font-family: myfont-2;
  font-size: 50px;
  text-transform: uppercase;
}
div.main-sec-4 div.sec-section-4{
  max-height: 1750px;
  text-align: center;
  position: relative;
  margin-top: 250px;
}
div.main-sec-4 div.sec-section-4 div.grid-sec-4{
  display: grid;
  grid-template-areas: 
  "photo-1 photo-2 photo-3";
  column-gap: 45px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}
div.main-sec-4 div.sec-section-4 div.grid-sec-4 div.photo-1{
  grid-area: photo-1;
  text-align: left;
}
div.main-sec-4 div.sec-section-4 div.grid-sec-4 div.photo-2{
  grid-area: photo-2;
  text-align: left;
}
div.main-sec-4 div.sec-section-4 div.grid-sec-4 div.photo-3{
  grid-area: photo-3;
  text-align: left;
}
div.main-sec-4 div.sec-section-4 div.grid-sec-4 div.photo-1 img{
  width: 400px;
}
div.main-sec-4 div.sec-section-4 div.grid-sec-4 div.photo-2 img{
  width: 400px;
}
div.main-sec-4 div.sec-section-4 div.grid-sec-4 div.photo-3 img{
  width: 400px;
}
div.grid-sec-4 div.photo-1 div.date-comments div.date img , 
div.grid-sec-4 div.photo-1 div.date-comments div.comment img{
  width: 14px;
}
div.grid-sec-4 div.photo-2 div.date-comments div.date img, 
div.grid-sec-4 div.photo-2 div.date-comments div.comment img{
  width: 14px;
}
div.grid-sec-4 div.photo-3 div.date-comments div.date img, 
div.grid-sec-4 div.photo-3 div.date-comments div.comment img{
  width: 14px;
}
div.grid-sec-4 div.photo-1 div.date-comments div.date , 
div.grid-sec-4 div.photo-1 div.date-comments div.comment{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
div.grid-sec-4 div.photo-2 div.date-comments div.date , 
div.grid-sec-4 div.photo-2 div.date-comments div.comment{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
div.grid-sec-4 div.photo-3 div.date-comments div.date , 
div.grid-sec-4 div.photo-3 div.date-comments div.comment{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
div.grid-sec-4 div.photo-1 div.date-comments div.comment ,
div.grid-sec-4 div.photo-2 div.date-comments div.comment ,
div.grid-sec-4 div.photo-3 div.date-comments div.comment {
  margin-left: 40px;
}
div.grid-sec-4 div.photo-3 div.date-comments ,
div.grid-sec-4 div.photo-2 div.date-comments ,
div.grid-sec-4 div.photo-1 div.date-comments {
  margin-top: 10px;
  margin-bottom: 7px;
}
div.grid-sec-4 div.photo-1 span.title-sec-4{
  text-transform: uppercase;
  font-family: myfont-2;
  font-size: 24px;
}
div.grid-sec-4 div.photo-2 span.title-sec-4{
  text-transform: uppercase;
  font-family: myfont-2;
  font-size: 24px;
}
div.grid-sec-4 div.photo-3 span.title-sec-4{
  text-transform: uppercase;
  font-family: myfont-2;
  font-size: 24px;
}
div.sec-section-4 button.button-sec-4{
  background-color: #ffc000;
  padding: 20px 45px;
  display: block;
  outline: 0;
  border: 0;
  margin: 0 auto;
  position: relative;
  top: 80px;

}
div.sec-section-4 button.button-sec-4 a{
  text-decoration: none;
  color: #000;
  letter-spacing: 1.5px;
  font-family: myfont-2;
  text-transform: uppercase;
  font-size: 18px;
}
/* third-section-4 */
div.third-section-4{
  min-width: 70%;
  text-align: left;
  margin-top: 200px;
  background-color: #ffffff;
  height: 750px;
  position: relative;
}
div.third-section-4 h2{
  color: #ffc000;
  font-family: myfont-2;
  font-size: 50px;
  margin-bottom: 5px;
}
div.third-section-4 form input[type="text"]{
  width: 373px;
  padding: 30px;
}
div.third-section-4 form input[type="email"]{
  width: 373px;
  padding: 30px;
}
div.third-section-4 form input[type="email"]::placeholder{
  font-family: myfont-2;
}
div.third-section-4 form input[type="text"]::placeholder{
  font-family: myfont-2;
}
div.third-section-4 form label{
  display: block;
  font-family: myfont-2;
  text-transform: uppercase;
  margin: 10px 0;
}
div.third-section-4 form textarea{
  display: block;
  width: 892px;
  height: 300px;
  overflow: hidden;
}
div.third-section-4 form textarea::placeholder{
  position: relative;
  left: 30px;
  top:25px;
  font-family: myfont-2;
}
div.third-section-4 form div.name-contain , 
div.third-section-4 form div.email-contain {
  display: inline-block;
}
div.third-section-4 form div.email-contain{
  margin-left: 20px;
}
div.third-section-4 form input[type="submit"]{
  padding: 25px 90px;
  background-color: #ffc000;
  border: 0;
  outline: 0;
  font-family: myfont-2;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.5px;
  position: relative;
  top: 25px;
}
div.third-section-4 img{
  position: absolute;
    left: 70%;
    bottom: 150px;
    width: 400px;
}
/* FOOTER */
footer{
  width:100%;
  height: 130px;
  background-color: #000;
  margin-top: 130px;
}
span.lo-footer{
  color: white;
  display: block;
  position: relative;
  top: 35px;
  font-family: myfont-1;
  font-size: 25px;
  margin: 0 auto;
  width: fit-content;
}
footer span.copyright{
  color: #ffffff;
  font-family: myfont-med;
  text-align: right;
  display: block;
  position: relative;
  right: 200px;
}
footer div.social-media{
  position: relative;
  display: inline-block;
  width: fit-content;
  left: 200px;
  bottom: 22px;
}
footer img{
  width: 20px;
  height: 20px;
  margin: 0 2px;;
}
